.aboutcard {
    --icon-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 20px;
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63), border 0.2s linear;
    transition-delay: 0.0s, 0.15s;
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.aboutcard:hover {
    background-position: -100% 100%;
}

.aboutcard svg {
    color: #000;
    transition-delay: 0.2s;
}

.aboutcard:hover svg {
    color: var(--icon-color);
}

.aboutcard h1 {
    padding: 10px;
    transition-delay: 0.2s;

    text-align: center;
    line-height: 1;
    font-size: 24px;
    color: #000;
}

.aboutcard:hover h1 {
    color: #fff;
}

.aboutcard p {
    transition-delay: 0.2s;
    padding: 3px;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    color: #000;
}

.aboutcard:hover p {
    color: #fff;
}