.footer {
    position: absolute;
    bottom: 0;
    background-color: #1b242f;
    color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}